/*

CSS: element, id, class
selector{
   property:value;
}

*/
   .gradient {
  background-image:
    linear-gradient(
      to right, 
      red, #f06d06
    );
}

h1{
   text-decoration:underline;
}
 h1{  color:blue;
}
#header{
   text-align:center;
}
